h1, a {
	font-family: sans-serif;
	color: grey;
	text-decoration: none;
}

h1 {
	color: lightseagreen;
}

a:hover {
	color: black;
	text-decoration: underline;
}

body {
	padding-top: 100px;
	text-align: center;
}